<div class="container p-5">
    <div class="row col-12 p-5">
        <div class="col-md-6">
            <h2 text-align="center">Enter the detais..</h2>
            <form method="POST">
                <div class="form-group">
                  <label for="exampleInputEmail1">Name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name"name="name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Age</label>
                    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Enter age"name="age">
                  </div><br>
                <div class="form-group">
                    <label for="exampleInputPassword1">State</label>
                    <select title="State" class="selectpicker" name="state">
                        <option>Select...</option>
                        <option>malappuram</option>
                        <option>eranakulam</option>
                        <option>kozhikod</option>
                        <option>vayanad</option>
                        <option>kannur</option>
                        <option>kasarkod</option>
                        <option>kollam</option>
                      </select>
                </div><br>
                <div class="form-group">
                    <label for="exampleInputPassword1">Blood Group</label>
                    <select title="State" class="selectpicker" name="bloodgroup">
                        <option>Select...</option>
                        <option>A+</option>
                        <option>AB</option>
                        <option>O+</option>
                        <option>AB-</option>
                        <option>B</option>
                        <option>AB</option>
                      </select>
                </div><br>
                <div class="form-group">
                  <label for="exampleInputPassword1">Phone Number</label>
                  <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Enter phone number"name="phonenumber">
                </div><br><br>
                <div class="text-center">
                    <button type="submit" class="btn btn-danger btn-lg ">Submit</button>
                </div>
              </form>
        </div>
        <div class="col-md-6">
            <img src="/images/donate.png" class="img-fluid" alt="Responsive image" style="height: 100%;width: 100%;">
    </div>
    </div>
</div>