<div class="container p-5">
  <div class="row col-12">
    <div class=" col-md-7">
      <img src="/images/bg.jpg" class="img-fluid" alt="Responsive image" style="height: 100%;width: 100%;">
    </div>
    <div class="col-md-5 text-center" style="padding-top: 150px; padding-left: 200px;">
      <a href="/doner" type="button" class="btn btn-danger text-white text-black btn-lg shadow-lg p-3 mb-5 bg-dander rounded " style="font-weight: 600; font-size: 42px;">DONER</a><BR><br><br><br><br><br><br>
      <a  href="/needer" type="button" class="btn btn-danger text-white text-black btn-lg shadow-lg p-3 mb-5 bg-dander rounded" style="font-weight: 600; font-size: 40px;">NEEDER</a>
    </div>
  </div>
</div>
